@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital@0;1&family=Fasthand&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Viga&display=swap');


body {
    background-color: #ffffff;
  }
  
/* Style the navigation menu */
.navbar {
  width: auto;
  background-color: #f8f6eb;
  overflow: auto;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: auto; /* Full width */
  font-family: 'Amaranth';
  
 
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 48px;
  width: auto; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
  margin-left: 25px;
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #f8f6eb;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #f8f6eb;
  font-size: 50px;
  text-align: center;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

  h1 {
    font-family: 'Amaranth';
    color: rgb(0, 0, 0);
    margin-left: 7%;
    margin-top: 10%;
   
  }


h2 {
  font-family: 'Amaranth';
  color: rgb(0, 0, 0);
  margin-left: 7%;
  margin-top: 5%;
 
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #f8f6eb;
  background-color: #f8f6eb;
  margin-top: 7%;
  margin-left: 2%;
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: 'Amaranth';
  font-size: 18px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f1f1f1
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f1f1f1;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #f1f1f1;
  border-top: none;
}




  p {
    font-family: 'Lobster Two';
    margin-top: 5%;
    font-size: 17px;
  }

  